Repository peertube-viewer/peertube-viewer-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust-latest, rust-nightly, pages

rust-latest:
  stage: test
  cache:
    key: latest
    paths:
    - target/
  image: rust:latest
  script:
  - rustup component add rustfmt
  - rustup component add clippy
  - cargo build --verbose --locked
  - cargo test --verbose --workspace
  - cargo fmt --all --verbose -- --check

rust-nightly:
  allow_failure: true
  stage: test
  image: rustlang/rust:nightly
  script:
  - cargo build --verbose --locked
  - rustup component add clippy
  - cargo test --verbose
  - cargo clippy --workspace --verbose -- -D clippy::all
  cache:
    key: nightly
    paths:
    - target/

pages:
  stage: deploy
  image: ubuntu:latest
  variables:
    MDBOOK_VERSION: 0.4.20
  script:
  - apt update
  - apt install wget -y
  - wget https://github.com/rust-lang/mdBook/releases/download/v"$MDBOOK_VERSION"/mdbook-v"$MDBOOK_VERSION"-x86_64-unknown-linux-gnu.tar.gz
  ...

Update to clap 4.0
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
  crates/peertube-viewer-utils/Cargo.toml
  src/cli/clap_app.rs
  src/cli/config.rs
Due: rust-latest, rust-nightly

Fix clippy warning
  src/cli/config.rs
Due: rust-latest, rust-nightly

Upgrade dependencies
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
Due: rust-latest, rust-nightly

Re-run all the pipline on pipline configuration change
  .gitlab-ci.yml
Due: none

Update mdbook version
  .gitlab-ci.yml
Due: none

Fix clippy warnings
  crates/peertube-api/src/error.rs
  crates/peertube-api/src/video.rs
  crates/peertube-viewer-utils/src/lib.rs
  src/cli.rs
  src/cli/config.rs
  src/cli/display.rs
  src/cli/display/helpers.rs
  src/cli/display/layout.rs
  src/cli/input.rs
  src/cli/parser.rs
  src/error.rs
Due: rust-latest, rust-nightly

Run cargo update
  Cargo.lock
Due: rust-latest, rust-nightly

Update dependencies
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
  src/cli/input.rs
Due: rust-latest, rust-nightly

Update dependencies
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
Due: rust-latest, rust-nightly

Fix MSRV
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/install.md
Due: rust-latest, rust-nightly, pages

Update mdbook
  .gitlab-ci.yml
Due: none

pipeline: Update mdbook
  .gitlab-ci.yml
Due: none

Bump rustyline version
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-nightly

CI: update mdbook version
  .gitlab-ci.yml
Due: none

Bump toml dependency and terminal_size
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-nightly

Bump MSRV to 1.70
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/install.md
Due: rust-latest, rust-nightly, pages

Release 1.8.5
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-nightly, pages

Fix release script
  scripts/create-realease-tarbal.sh
Due: none

Bump mdbook version
  .gitlab-ci.yml
Due: none

Fix clippy warnings
  crates/peertube-api/src/video.rs
  src/cli/config.rs
Due: rust-latest, rust-nightly

Bump MSRV
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/install.md
Due: rust-latest, rust-nightly, pages

Run cargo update and fix nightly pipeline
  Cargo.lock
  src/cli/config.rs
Due: rust-latest, rust-nightly

Upgrade termion
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-nightly

Upgrade rustyline
  Cargo.lock
  Cargo.toml
  src/cli/input/helper.rs
Due: rust-latest, rust-nightly

Make nightly CI runs toggleable
  .gitlab-ci.yml
Due: none

Run cargo audit in scheduled CI
  .gitlab-ci.yml
Due: none

Don't run pages in scheduled pipelines and fix cargo audit pipeline
  .gitlab-ci.yml
Due: none

Fix cargo audit pipeline
  .gitlab-ci.yml
Due: none

Fix cargo audit test again
  .gitlab-ci.yml
Due: none

Add cargo oudtaded test in CI
  .gitlab-ci.yml
Due: none

Attempt to fix cargo-outdated test
  .gitlab-ci.yml
Due: none

Fix rust package used
  .gitlab-ci.yml
Due: none

Remove cargo-outdated from pipeline
  .gitlab-ci.yml
Due: none

Release 1.8.6
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-nightly, pages

Update Cargo.lock
  Cargo.lock
Due: rust-latest, rust-nightly

Fix clippy warnings
  src/cli/input.rs
Due: rust-latest, rust-nightly

Path conditions:
  rust-latest: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  rust-nightly: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  pages: any of: docs/**/*
