Repository peertube-viewer/peertube-viewer-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust-latest, rust-minimal, rust-nightly, pages

.gitlab-ci.yml:

variables:
  RUST_BACKTRACE: "1"

stages:
  - test
  - build
  - deploy

rust-latest:
  stage: test
  cache:
    key: latest
    paths:
      - target/
  image: rust:latest
  script:
    - rustup component add rustfmt
    - rustup component add clippy
    - cargo build --verbose --locked
    - cargo test --verbose --workspace
    - cargo fmt --all --verbose -- --check
    - cargo clippy --workspace --verbose -- -D clippy::all
  only:
    changes:
      - src/**/*
      - crates/**/*
      - Cargo.toml
      - Cargo.lock
      - build.rs
      - .gitlab-ci.yml

rust-minimal:
  stage: test
  cache:
    key: latest
    paths:
      - target/
  image: rust:1.65
  script:
    - rustup component add rustfmt
    - rustup component add clippy
    - cargo build --verbose --locked
    - cargo test --verbose --workspace
  only:
    changes:
      - src/**/*
      - crates/**/*
      - Cargo.toml
      - Cargo.lock
      - build.rs
      - .gitlab-ci.yml

rust-nightly:
  allow_failure: true
  stage: test
  image: rustlang/rust:nightly
  script:
    - cargo build --verbose --locked
    - rustup component add clippy
    - cargo test --verbose
    - cargo clippy --workspace --verbose -- -D clippy::all
  cache:
    key: nightly
    paths:
      - target/
  only:
    changes:
      - src/**/*
      - crates/**/*
      - Cargo.toml
      - Cargo.lock
      - build.rs
      - .gitlab-ci.yml
  except:
    - tags

release-linux:
  stage: build
  image: rust:latest
  script:
    - cargo build --release --locked --verbose
    - ./scripts/create-realease-tarbal.sh
  cache:
    key: release-linux
    paths:
      - target/
  artifacts:
    paths:
      - linux-build/
  only:
    - tags

pages:
  stage: deploy
  image: ubuntu:latest
  variables:
    MDBOOK_VERSION: "0.4.32"
  script:
  - apt update
  - apt install wget -y
  - wget https://github.com/rust-lang/mdBook/releases/download/v"$MDBOOK_VERSION"/mdbook-v"$MDBOOK_VERSION"-x86_64-unknown-linux-gnu.tar.gz
  - tar xvzf mdbook-v"$MDBOOK_VERSION"-x86_64-unknown-linux-gnu.tar.gz
  - ./mdbook build docs/ -d ../public
  - find public -type f -exec gzip -9 -f -k {} \;
  artifacts:
    paths:
    - public/
  only:
    changes:
      - docs/**/*
      - .gitlab-ci.yml

Update terminal_size
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-minimal, rust-nightly

Update breaking change dependencies
  Cargo.lock
  Cargo.toml
  src/cli/input/helper.rs
Due: rust-latest, rust-minimal, rust-nightly

Bump msrv
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/install.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Prepare release 1.8.7
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Update mdbook version
  .gitlab-ci.yml
Due: rust-latest, rust-minimal, rust-nightly, pages

Improve cloning approach
  crates/peertube-api/src/video.rs
Due: rust-latest, rust-minimal, rust-nightly

Update mdbook
  .gitlab-ci.yml
Due: rust-latest, rust-minimal, rust-nightly, pages

Upgrade to ureq 3.0
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-api/src/instance.rs
  src/cli.rs
Due: rust-latest, rust-minimal, rust-nightly

Update directories
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-minimal, rust-nightly

Update dependencies
  Cargo.lock
Due: rust-latest, rust-minimal, rust-nightly

Fix clippy warnings
  crates/peertube-api/src/instance.rs
Due: rust-latest, rust-minimal, rust-nightly

Update dependencies, fixing audit
  Cargo.lock
Due: rust-latest, rust-minimal, rust-nightly

Upgrade mdbook
  .gitlab-ci.yml
Due: rust-latest, rust-minimal, rust-nightly, pages

Update dependencies
  Cargo.lock
  Cargo.toml
  src/cli/config.rs
Due: rust-latest, rust-minimal, rust-nightly

Add justfile to build docs
  docs/justfile
Due: pages

Move urls
  Cargo.toml
  README.md
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
  crates/preloadable-list/Cargo.toml
  docs/src/install.md
  peertube-viewer-rs.1.in
  src/cli/clap_app.rs
Due: rust-latest, rust-minimal, rust-nightly, pages

Bump MSRV
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/changelog.md
  docs/src/install.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Remove pages
  .gitlab-ci.yml
Due: rust-latest, rust-minimal, rust-nightly, pages

Update to mdbook 0.5.1
  docs/book.toml
  docs/justfile
Due: pages

Run cargo update
  Cargo.lock
Due: rust-latest, rust-minimal, rust-nightly

Bump MSRV
  Cargo.toml
  README.md
  docs/src/changelog.md
  docs/src/install.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Fix MSRV CI
  .gitlab-ci.yml
Due: rust-latest, rust-minimal, rust-nightly, pages

Bump MSRV again
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/changelog.md
  docs/src/install.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Fix typos
  docs/justfile
  docs/src/cli/index.md
  docs/src/config.md
Due: pages

Prepare release 1.8.8
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Fix Cargo.lock
  Cargo.lock
Due: rust-latest, rust-minimal, rust-nightly

Update all dependencies
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-minimal, rust-nightly

Release 1.8.9
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Update dependencies
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-minimal, rust-nightly

Run cargo update and fix deprecated function usage
  Cargo.lock
  Cargo.toml
  src/cli/display/helpers.rs
Due: rust-latest, rust-minimal, rust-nightly

Bump MSRV to 1.89
  .gitlab-ci.yml
  Cargo.toml
  docs/src/install.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Release 1.8.10
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Prepare release 1.8.11
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-minimal, rust-nightly, pages

Fix clippy warnings
  src/cli/input.rs
Due: rust-latest, rust-minimal, rust-nightly
