Repository peertube-viewer/peertube-viewer-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust-latest, rust-oldest, rust-nightly, pages

rust-latest:
  stage: test
  cache:
    key: latest
    paths:
    - target/
  image: rust:latest
  script:
  - rustup component add rustfmt
  - rustup component add clippy
  - cargo build --verbose --locked
  - cargo test --verbose
  - cargo clippy --workspace --verbose
  - cargo fmt --all --verbose -- --check

rust-oldest:
  stage: test
  allow_failure: true
  image: rust:1.45.0
  script:
  - cargo build --verbose --locked
  - cargo test --verbose
  cache:
    key: oldest
    paths:
    - target/

rust-nightly:
  allow_failure: true
  stage: test
  image: rustlang/rust:nightly
  script:
  - cargo build --verbose --locked
  - cargo test --verbose
  cache:
    key: nightly
    paths:
    - target/

pages:
  stage: deploy
  image: ubuntu:latest
  script:
  - apt update
  - apt install wget -y
  - wget https://github.com/rust-lang/mdBook/releases/download/v0.4.5/mdbook-v0.4.5-x86_64-unknown-linux-gnu.tar.gz
  - tar xvzf mdbook-v0.4.5-x86_64-unknown-linux-gnu.tar.gz
  - ./mdbook build docs/ -d ../public
  ...

Fix case
  docs/src/SUMMARY.md
Due: pages

Update dates in license
  LICENSE
Due: none

Update deps
  Cargo.lock
Due: rust-latest, rust-oldest, rust-nightly

Update non semvercompatible crates
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Bump minimum toolchain version
  README.md
  docs/src/install.md
Due: pages

Bump rust-oldest version in CI
  .gitlab-ci.yml
Due: none

Update mdbooks to v0.4.10
  .gitlab-ci.yml
Due: none

Bump deps
  Cargo.lock
Due: rust-latest, rust-oldest, rust-nightly

Add support for shorter urls
  src/cli/config/frontend_url_parser.rs
Due: rust-latest, rust-oldest, rust-nightly

Don't require the /videos for channel urls
  src/cli/config/frontend_url_parser.rs
Due: rust-latest, rust-oldest, rust-nightly

Properly handle local handles and search engine configuration with urls
  crates/peertube-api/src/instance.rs
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix clippy warnings
  src/cli.rs
  src/cli/display.rs
  src/cli/preloadables.rs
Due: rust-latest, rust-oldest, rust-nightly

Update changelog
  docs/src/changelog.md
Due: pages

Run cargo update
  Cargo.lock
Due: rust-latest, rust-oldest, rust-nightly

Bum minimal rust version to 1.53 for OR in pattern matching
  .gitlab-ci.yml
  README.md
  docs/src/install.md
Due: pages

Release 1.8.2
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-oldest, rust-nightly, pages

Update dependencies
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Add license mention in Readme
  README.md
Due: none

Release 1.8.3
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-oldest, rust-nightly, pages

Switch to edition 2021
  Cargo.toml
  crates/peertube-viewer-utils/Cargo.toml
  crates/preloadable-list/Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Bump minimal version to 1.56
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/install.md
Due: rust-latest, rust-oldest, rust-nightly, pages

Remove rust-oldest
  .gitlab-ci.yml
Due: none

Add tests for pretty_duration_since
  src/cli/display/helpers.rs
Due: rust-latest, rust-oldest, rust-nightly

Migrate pretty_duration_since to time
  Cargo.lock
  Cargo.toml
  src/cli/display/helpers.rs
Due: rust-latest, rust-oldest, rust-nightly

Migrate pretty_date to time
  Cargo.toml
  src/cli/display/helpers.rs
Due: rust-latest, rust-oldest, rust-nightly

Migrate full_date to time
  Cargo.lock
  Cargo.toml
  src/cli/display/helpers.rs
Due: rust-latest, rust-oldest, rust-nightly

Migrate peertube-api to time
  Cargo.lock
  crates/peertube-api/Cargo.toml
  crates/peertube-api/src/channels.rs
  crates/peertube-api/src/comments.rs
  crates/peertube-api/src/video.rs
  src/cli/display.rs
  src/cli/display/layout.rs
Due: rust-latest, rust-oldest, rust-nightly

Fully remove dependency on chrono
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  src/cli/display.rs
  src/cli/display/helpers.rs
Due: rust-latest, rust-oldest, rust-nightly

Parse dates in serde for channels
  Cargo.lock
  crates/peertube-api/src/channels.rs
  crates/peertube-ser/Cargo.toml
  crates/peertube-ser/src/channels.rs
  crates/peertube-ser/src/common.rs
Due: rust-latest, rust-oldest, rust-nightly

Migrate comments date parsing to serde
  crates/peertube-api/src/comments.rs
  crates/peertube-ser/src/comments.rs
  src/cli/display/layout.rs
Due: rust-latest, rust-oldest, rust-nightly

Migrate video date parsing to serde
  crates/peertube-api/src/video.rs
  crates/peertube-ser/src/search.rs
  crates/peertube-ser/src/video.rs
  src/cli/display.rs
  src/cli/display/layout.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix clippy warning
  crates/peertube-ser/src/common.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix naming
  src/cli/display/helpers.rs
  src/cli/display/layout.rs
Due: rust-latest, rust-oldest, rust-nightly

Remove useless Option
  src/cli/display/helpers.rs
  src/cli/display/layout.rs
Due: rust-latest, rust-oldest, rust-nightly

Remove second useless Option
  src/cli/display.rs
  src/cli/display/helpers.rs
Due: rust-latest, rust-oldest, rust-nightly

Remove unnecessary feature
  crates/peertube-api/Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Run cargo-update
  Cargo.lock
Due: rust-latest, rust-oldest, rust-nightly

Fix features
  Cargo.lock
  Cargo.toml
  crates/peertube-ser/Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Path conditions:
  rust-latest: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  rust-oldest: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  rust-nightly: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  pages: any of: docs/**/*
