Repository peertube-viewer/peertube-viewer-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rust-latest, rust-oldest, rust-nightly, pages

rust-latest:
  stage: test
  cache:
    key: latest
    paths:
    - target/
  image: rust:latest
  script:
  - rustup component add rustfmt
  - rustup component add clippy
  - cargo build --verbose --locked
  - cargo test --verbose
  - cargo clippy --workspace --verbose
  - cargo fmt --all --verbose -- --check

rust-oldest:
  stage: test
  allow_failure: true
  image: rust:1.45.0
  script:
  - cargo build --verbose --locked
  - cargo test --verbose
  cache:
    key: oldest
    paths:
    - target/

rust-nightly:
  allow_failure: true
  stage: test
  image: rustlang/rust:nightly
  script:
  - cargo build --verbose --locked
  - cargo test --verbose
  cache:
    key: nightly
    paths:
    - target/

pages:
  stage: deploy
  image: ubuntu:latest
  script:
  - apt update
  - apt install wget -y
  - wget https://github.com/rust-lang/mdBook/releases/download/v0.4.5/mdbook-v0.4.5-x86_64-unknown-linux-gnu.tar.gz
  - tar xvzf mdbook-v0.4.5-x86_64-unknown-linux-gnu.tar.gz
  - ./mdbook build docs/ -d ../public
  ...

Make changelog more understandable
  docs/src/changelog.md
Due: pages

Run cargo update
  Cargo.lock
Due: rust-latest, rust-oldest, rust-nightly

Migrate to clap v3
  Cargo.lock
  Cargo.toml
  build.rs
  src/cli/clap_app.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix warnings
  src/cli/clap_app.rs
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Add clap suggestions feature
  Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Update changelog
  docs/src/changelog.md
Due: pages

Fix clippy warnings
  src/cli/config.rs
  src/cli/input/helper.rs
Due: rust-latest, rust-oldest, rust-nightly

Pipeline fails if warning fail
  .gitlab-ci.yml
Due: none

Fix useless closure map clippy lints
  crates/peertube-api/src/video.rs
  src/cli.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix useless late initialization lint
  crates/preloadable-list/src/lib.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix nightly clippy warnings
  src/cli/config.rs
  src/cli/parser.rs
Due: rust-latest, rust-oldest, rust-nightly

Run nightly clippy in failable job
  .gitlab-ci.yml
Due: none

Add test to config to find issue in clap usage
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix panic when having an initial query
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix clippy warning
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix handling of --channels and --chandle
  src/cli/clap_app.rs
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Remove error warning when default config is missing
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Update dependencies version to use full version
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Update dependencies
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Update dates
  LICENSE
  peertube-viewer-rs.1.in
Due: none

Release 1.8.4
  Cargo.lock
  Cargo.toml
  docs/src/changelog.md
Due: rust-latest, rust-oldest, rust-nightly, pages

Make the switch to AGPLv3
  COPYING.md
  LICENSE
  badges/license.svg
  build.rs
  crates/peertube-api/src/channels.rs
  crates/peertube-api/src/comments.rs
  crates/peertube-api/src/common.rs
  crates/peertube-api/src/error.rs
  crates/peertube-api/src/instance.rs
  crates/peertube-api/src/lib.rs
  crates/peertube-api/src/preloadable.rs
  crates/peertube-api/src/trending.rs
  crates/peertube-api/src/video.rs
  crates/peertube-ser/src/channels.rs
  crates/peertube-ser/src/comments.rs
  crates/peertube-ser/src/common.rs
  crates/peertube-ser/src/lib.rs
  crates/peertube-ser/src/search.rs
  crates/peertube-ser/src/video.rs
  crates/peertube-viewer-utils/src/lib.rs
  crates/preloadable-list/src/lib.rs
  src/cli.rs
  src/cli/clap_app.rs
  src/cli/config.rs
  src/cli/config/frontend_url_parser.rs
  src/cli/display.rs
  src/cli/display/helpers.rs
  src/cli/display/layout.rs
  src/cli/history.rs
  src/cli/input.rs
  src/cli/input/helper.rs
  src/cli/parser.rs
  src/cli/preloadables.rs
  src/error.rs
  src/main.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix Clap deprecation warnings
  src/cli/clap_app.rs
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Run cargo fmt
  src/cli/clap_app.rs
Due: rust-latest, rust-oldest, rust-nightly

Remove unused Cargo.lock
  crates/peertube-api/Cargo.lock
  crates/peertube-ser/Cargo.lock
Due: rust-latest, rust-oldest, rust-nightly

Use pretty assertions in tests
  Cargo.lock
  Cargo.toml
  crates/peertube-api/Cargo.toml
  crates/peertube-ser/Cargo.toml
  crates/peertube-ser/src/channels.rs
  crates/peertube-ser/src/comments.rs
  crates/peertube-ser/src/search.rs
  crates/peertube-viewer-utils/Cargo.toml
  crates/peertube-viewer-utils/src/lib.rs
  src/cli/config.rs
  src/cli/config/frontend_url_parser.rs
  src/cli/display/helpers.rs
  src/cli/parser.rs
Due: rust-latest, rust-oldest, rust-nightly

Use env_variables in default confiG
  crates/peertube-ser/src/channels.rs
  crates/peertube-ser/src/comments.rs
  crates/peertube-ser/src/search.rs
  src/cli/config.rs
Due: rust-latest, rust-oldest, rust-nightly

Upgrade dependencies
  Cargo.lock
  Cargo.toml
Due: rust-latest, rust-oldest, rust-nightly

Update MDBOOK release
  .gitlab-ci.yml
  docs/src/changelog.md
Due: pages

Fix pipeline
  .gitlab-ci.yml
Due: none

Fix clippy warnings
  src/cli/display.rs
  src/cli/history.rs
Due: rust-latest, rust-oldest, rust-nightly

Fix clippy nightly warnings
  .gitlab-ci.yml
  crates/peertube-api/src/video.rs
  crates/peertube-viewer-utils/src/lib.rs
  src/cli.rs
  src/cli/config/frontend_url_parser.rs
  src/cli/input.rs
  src/cli/input/helper.rs
  src/cli/parser.rs
Due: rust-latest, rust-oldest, rust-nightly

Document bumped MSRV
  .gitlab-ci.yml
  Cargo.toml
  README.md
  docs/src/install.md
Due: rust-latest, rust-oldest, rust-nightly, pages

Update to rustyline 10
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/cli/input.rs
  src/main.rs
Due: rust-latest, rust-oldest, rust-nightly

Path conditions:
  rust-latest: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  rust-oldest: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  rust-nightly: any of: src/**/*, crates/**/*, Cargo.toml, Cargo.lock, build.rs
  pages: any of: docs/**/*
